@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'InterB';
    src: url(../fonts/Inter-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 248, 244);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}


.header .auth-section svg {
    width: 20px;
    height: 20px;
}

.header-container {
    margin: 0 auto;
    padding: 8px 16px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-section div {
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.auth-section {
    display: flex;
    align-items: center;
}

.login {
    margin-right: 10px;
}

.main-container {
    margin: 0 auto;
    max-width: 412px;
    min-height: 93vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    margin: 0 auto;
    padding: 24px 16px;
    background-color: rgb(230, 233, 245);
    border: 1px solid rgba(0, 102, 255, 0.2);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-align: center;
    margin-bottom: 32px;
}

.box-title {
    font-family: 'InterB', sans-serif;
    font-size: 32px;
    color: rgb(0, 102, 255);
    margin-bottom: 12px;
}

.box-people {
    margin-bottom: 24px;
}

.white-board {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 24px 16px;
    margin-bottom: 24px;
}

.white-board svg {
    width: 16px;
    height: 16px;
    fill: rgb(0, 102, 255);
    margin-bottom: 8px;
}

.wb-title {
    font-family: 'InterB', sans-serif;
    margin-bottom: 8px;
    font-size: 20px;
}

.logo-section-title {
    font-family: 'InterB', sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-bottom: 16px;
}

.logo-box img {
    width: 100%;
}

.blue-btn {
    width: 100%;
    background-color: rgb(0, 102, 255);
    color: #fff;
    border-radius:  8px;
    padding: 20px;
    -webkit-border-radius:  8px;
    -moz-border-radius:  8px;
    -ms-border-radius:  8px;
    -o-border-radius:  8px;
    border: 0;
    font-size: 16px;
    font-family: 'InterB', sans-serif;
    position: sticky !important;
    bottom: 5px ;
}

.footer-links {
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    padding: 16px 0;
   
}


.footer-links .adress {
    font-size: 13px;
}

.footer {
}

.fl-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.fl-links ul a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.fl-links ul li {
    margin: 0 8px;
}


.fl-links ul li:first-child {
    list-style-type: none;
}

@media screen and (max-width: 430px) {
    .main-container {
        padding: 0px 8px
    }
}